.call-to-action{
    background-color: #BC592C;
    padding: 12px 20px 12px 20px;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Space Mono', monospace;
    margin-top: 0px;
    cursor: pointer;
}